body {
  background-color: #000a18;
  font-family: "Poppins", sans-serif;
  font-family: "Signika Negative", sans-serif;
}
header {
  background: rgb(87, 214, 255);
  background: linear-gradient(
    180deg,
    rgba(87, 214, 255, 0.9472382703081232) 0%,
    rgba(88, 172, 255, 1) 35%,
    rgba(0, 97, 213, 1) 100%

  /*0deg,
  hsl(244deg 67% 51%) 0%,
  hsl(242deg 68% 53%) 10%,
  hsl(240deg 69% 55%) 20%,
  hsl(238deg 71% 56%) 30%,
  hsl(236deg 73% 57%) 40%,
  hsl(234deg 76% 58%) 50%,
  hsl(229deg 74% 59%) 60%,
  hsl(223deg 73% 59%) 70%,
  hsl(217deg 71% 58%) 80%,
  hsl(210deg 70% 58%) 90%,
  hsl(203deg 70% 56%) 100%*/
);
  color: snow;
  margin: auto 10% 30px;
  border-radius: 60px;
  /*box-shadow: 0px 12px 50px 11px rgba(45, 174, 240, 0.81);*/

  box-shadow: 0px 10px 13px -7px #000000,
    0px 16px 25px 1px rgba(47, 95, 255, 0.82);
}
li {
  list-style: none;
}
a{
  color: hsl(231, 100%, 39%);
}
.height {
  height: 10vh;
}
.icon {
  padding: 10px;
  min-width: 40px;
}
.form {
  position: relative;
}
.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}
.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}
.form-input {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 55px;
  text-indent: 33px;
  border-radius: 23px;
}
.form-input:focus {
  box-shadow: none;
  border: none;
}
ul.tomorrowforcast {
  text-align: left;
  margin: 30px 0 0 0;
  padding: 0 0 0 60px;
}
ul.headerlist {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  margin: 5px auto;
}
div.col-6 {
  text-align: center;
  margin: 20px auto;
  padding: 0;
}
.col-4 {
  color: rgba(214, 214, 214, 0.753);
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
  padding: 10px 0;
}
div.row.f:hover {
  background-color: rgba(83, 83, 83, 0.453);
  border-radius: 20px;
  transition: 200ms ease-in-out;
}
.search {
  text-align: center;
  margin: 0 30px;
}
.image {
  margin: 20px auto;
  display: block;
  width: 150px;
  height: 150px;
  filter: drop-shadow(17px 10px 18px rgba(23, 23, 23, 0.4));
}
.city {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.85);
}
.city:first-letter {
    text-transform: uppercase;
}
.hightemp {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.705);
  margin-top: 0;
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}
.fading {
  color: rgba(255, 255, 255, 0.65);
}
.ht {
  color: aliceblue;
  font-weight: bold;
}
.deactive{
  color: aliceblue;
  cursor: default;
  text-decoration: none;
}
.deactive:hover{
  text-decoration: none;
  color: aliceblue;
}
.git {
  text-align: center;
  margin: 0 auto;
  display: block;
}

